<%- include("partials/head") %>
    <%- include("partials/nav") %>
    <hr>
    <h1 class="title">
        <%= title %>
    </h1>
    <hr>

    <main id="container">
        <div id="productos-container">
            <ul id="products-list">
                <% products.forEach(prod=> { %>

                    <li class="product">
                        <img src="/img/<%= prod.image %>" alt="Imagen <%= prod.name %>">
                        
                        <p>Id: <%= prod.id %> </p>
                        <p>Nombre: <%= prod.name %></p>
                        <p><strong>Precio: <%= prod.price %></strong></p>
                    </li>
                    <!--
<li class="li-listados productos-listados">
    <img src="" alt="" class="img-listados">
    <p>Id: / Nombre: / <strong>Precio: </strong></p>
</li>
-->
                <% }) %>
            </ul>
        </div>
    </main>
    <%- include("partials/footer") %>